In [7]:
import pandas as pd 
dict= { 1: ["hedi",'aziz'],
       2: ["Derbel",'Derbel']}

In [8]:
df_results_entier=pd.DataFrame.from_dict(dict)

df_results_entier

      1       2
0  hedi  Derbel
1  aziz  Derbel

In [6]:

data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)
data

{'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}